<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <style>
	[v-cloak] {
	  display: none
	}
  </style>
  <title>Vue app</title>
</head>
<body>
<div class="container" id="vue-app" v-cloak>
  <div class="card center">
    <div v-html="myHtml"></div>
    <!--    <h1 v-text="title"></h1>-->
    <!--    <h2 v-once>{{title}}</h2>-->
    <!--    <h2 v-pre>{{ title }}</h2>-->
    <!--    <button @click="title = 'Hello world'">Bpvtybnm</button>-->
    <div class="form-control">
      <input type="text" @keyup.enter="addItem($event)" ref="myInput">
    </div>

    <ul class="list" v-if="items.length">
      <!--      <li class="list-item" v-for="(item, i) in 7">-->
      <!--        {{item}} {{i}}-->
      <!--      </li>-->
      <!--      <li class="list-item" v-for="(value, key) in person">-->
      <!--        <strong>{{ key }}</strong>{{value}}-->
      <!--      </li>-->

      <li class="list-item"
          v-for="(item, i) in items"
          @click.right.prevent="remove(i), log(item)"
          :key="item">
        <strong>{{item}}</strong>&nbsp;
        <input type="text"
               @click.stop>
      </li>
    </ul>
    <h3 v-show="items.length===0">No</h3>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue-app.js"></script>
</body>
</html>