<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <title>Vue app</title>
</head>
<body>
<div class="container" id="vue-app">
  <div class="card">
    <h1 :style="{
    color: inputValue.length<5 ? 'darkblue' : 'green',
    fontSize: inputValue.length>7 ? '25px' : '40px'
    }">{{ title }}</h1>
    <div class="form-control">
      <input :placeholder="placeholderString"
             type="text"
             v-model="inputValue"
             v-on:keypress.enter="addNewNote"/>
    </div>
    <button class="btn" v-on:click="addNewNote">Add</button>
    <hr/>
    <ul class="list" v-if="notes.length !== 0">
      <li class="list-item" v-for="(note, index) in notes">
     <span :class="note.length>3 ? 'primary' : 'bold'">({{index}}) {{ note }}
    </span>
        <span  :class="{
      'primary':true,
      'bold': note.length > 8
      }">{{toUpperCase(note)}}</span>
        <button class="btn danger"
                v-on:click="deleteNote(index)">Delete
        </button>
      </li>
      <hr />
      <li>
        <span :class="['bold', {'primary': notes.length>0}]">All notes length: {{notes.length}}</span> | Удвоено: {{doubleCountComputed}}
      </li>
    </ul>
    <div v-else>No notes</div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue-app.js"></script>
</body>
</html>